body{
	font-family: "grav";
	color: #EFEFCE;
	word-spacing: 3px;
}

.mail{
	float: right;
	position: absolute;
	margin-left: 84%;
	margin-top: 6.5%;
	width: 5%;
	z-index: 3;
}

@font-face{
	font-family: "groove";
	src: url("../GrooveNext-.ttf.ttf");
}

@font-face{
	font-family: "grav";
	src: url("../Gravity-Bold.ttf");
}

.logo{
	font-family: "wolf";
	float: left;
	position: fixed;
	margin-left: 5%;
	margin-top: 2%;

}

.contact{
	background-color: #D01C1A;
	padding:0.4%;
	padding-left:5.4%;
	float: right;
	position: fixed;
	margin-left: 82%;
	margin-top: 6.3%;
	width: 11%;
}


.bloc2 .email{
	color: black;
}

.main{
	border-top: 28px solid #2C592C;
	height: 150px;
	background-color: #53A948;
}

.bloc1{
	font-size: 18px;
	float: left;
	margin-left: 20%;
	margin-top: 1%;
	position: fixed
}

.bloc2{
	font-size: 18px;
	float: right;
	text-align: center;
	margin-right: 10%;
	margin-left: 55%;
	margin-top: 1%;
	position: fixed
}

.bloc1 p{
	margin-top: -6%;
	font-family: groove;
}

.bloc2 p{
	font-family: groove;
}

.contact p{
	font-family: groove;
	text-align: right;
	font-size: 18px;
}

.email{
	background-color: #8EC558;
	padding: 4%;
	margin-top: -5%;
}