body{
	font-family: "grav";
	color: #EFEFCE;
	word-spacing: 3px;
	position: fixed;
}

.white{
	height: 150px;
	color: black;
	font-size: 30px;
	font-family: "grav";
	margin-top: 8%;
	margin-bottom: -32%;
}

.white .green{
	text-align: left;
	color: #2C592C;
	margin-top: -4%;
	margin-left: 13%;
}
.white p{
	margin-left: 5%;
	font-size: 12px;
	margin-top: -3%;
}

.white img{
	width: 50%;
	margin-top: -35%;
	margin-left: 40%;
	position: relative;
}

.mail{
	float: right;
	position: absolute;
	margin-left: 86.5%;
	margin-top: 26%;
	width: 4%;
	z-index: 3;
}

@font-face{
	font-family: "groove";
	src: url("../font/GrooveNext.ttf.ttf");
}

@font-face{
	font-family: "grav";
	src: url("../font/Gravity-Bold.ttf");
}

.logo img{
	float: left;
	position: fixed;
	margin-left: 8%;
	margin-top: 17%;
	width: 20%;
}

.contact{
	background-color: #D01C1A;
	padding:0.4%;
	padding-left: 1.4%;
	float: right;
	position: fixed;
	margin-left: 86%;
	margin-top: 25%;
	width: 16%;
}


.bloc2 .email{
	color: black;
}

.main{
	border-top: 10px solid #2C592C;
	height: 100px;
	background-color: #53A948;
	width: 110%;
	margin-left: -4%;
}

.bloc1{
	font-size: 5px;
	margin-left: 33%;
	margin-top: 18%;
	position: fixed;
}

.bloc2{
	font-size: 7px;
	float: right;
	text-align: center;
	margin-right: 25%;
	margin-left: 35%;
	margin-top: 1%;
	padding: 0px;
	position: fixed
}

.bloc1 p{
	margin-top: -4%;
	font-family: groove;
	font-size: 6px;
}

.bloc2 p{
	font-family: groove;
}

.contact p{
	font-family: groove;
	text-align: right;
	font-size: 5px;
}

.email{
	background-color: #8EC558;
	padding: 4%;
	margin-top: -5%;
}